{% block ocplatform_body %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<!-- TODO ajouter un autre layout pour l'administation et les page views -->

{% include 'admin.html.twig' %}
                     
<h2>Administration</h2>
<div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{advertscount}}</div>
                                    <div>Publications</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('oc_platform_admincontent')}}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{userscount}}</div>
                                    <div>Utilisateurs</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('oc_platform_adminuser')}}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-gamepad fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{defiscount}}</div>
                                    <div>Défis</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('oc_platform_tournament') }}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{tickets}}</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{path('oc_platform_user', {'user': 'admin'})}}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
	{{ flashMessage }}
</div>
{% endfor %}
<!-- message flash -->
    {% if app.session.flashBag.has('info') %}
        <div class="alert alert-info">
            {% for msg in app.session.flashBag.get('info') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
                    
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<ul class="nav nav-tabs nav-justified">
			<li><a href="#comments" data-toggle="tab">Commentaires</a></li>
		</ul>
	</div>
</div>
<div class="tab-content">	
	
	<div class="tab-pane adminTable active" id="comments">
		<!-- TODO Insérer ici le code de gestion des commentaires -->
			<div class="table-responsive">
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Auteur</th>
						<th>Contenue</th>
						<th>Etat</th>
						<th></th>
						<!-- Actions column -->
					</tr>
				</thead>
				{% for comment in comments %}
				<tr><td>
						<a href="{{ path('oc_platform_view', {'slug': comment.title}) }}">
							{{comment.title}}
					    </a>
					</td>
					<td>{{comment.author}}</td>
					<td>{{comment.content | truncate(150) }}</td>
					<td></td>
					<td>

						<button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
						<div class="modal fade" id="userDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
									</div>
									<div class="modal-body">
										Do you really want to delete this user ?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										<a href="{{ path('oc_platform_deletecomment', { 'id': comment.id })  }}" class="btn btn-danger">Confirm</a>
									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
						<!-- /.modal -->
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<ul class="pagination">
			{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #} {% for p in range(1, nbPages) %}
			<li{% if p==page %} class="active" {% endif %}>
				<a href="{{ path('oc_platform_admin', {'page': p}) }}">{{ p }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
                </div>
            </div>
        </div>

    </div>



    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                            <input type="text" placeholder="Project Title" name="name">
                            <input type="text" placeholder="Post of Post" name="mail">
                            <input type="text" placeholder="Author" name="passsword">
                            <textarea placeholder="Desicrption"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>

    

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   $('[data-toggle="offcanvas"]').click(function(){
       $("#navigation").toggleClass("hidden-xs");
   });
});



</script>
</body>

{% endblock %}
