{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #} {% extends "OCPlatformBundle::layout.html.twig" %} {% block title %} Accueil - {{ parent() }} {% endblock %} {% block ocplatform_body %}

<style>
	/* A utiliser pour la bacgkground image */
	
	.nk-page-background-top,
	.nk-page-background-bottom,
	.nk-page-background-fixed {
		display: block;
	}

</style>
<!-- START: Image Slider -->
<div class="banner">
	<div class="title-banner">
		<h2>{{ index.title }}</h2>
		<h4>{{ index.content }}</h4>
	</div>
</div>
<!-- END: Image Slider -->

<!-- START: Categories -->
<div class="nk-gap-2"></div>
<div class="row vertical-gap user">
	<div class="col-lg-4">
		<div class="nk-feature-1">
			<div class="nk-feature-icon">
				<img src="{{ path('oc_platform_link') }}../../images/assets/images/icon-mouse.png" alt="">
			</div>
			<div class="nk-feature-cont">
				<h3 class="nk-feature-title"><a href="{{ path('oc_platform_cat', {'name': 'ordinateur'})  }}">PC</a></h3>
			</div>
		</div>

		<table class="table table-hover table-dark">

			<tbody>
				<tr>
					<td>Mark <br />380 Points</td>
					<td>Otto <br />292 Points</td>
					<td>3mdo <br />123 Points</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="col-lg-4">
		<div class="nk-feature-1">
			<div class="nk-feature-icon">
				<img src="{{ path('oc_platform_link') }}../../images/assets/images/icon-gamepad.png" alt="">
			</div>
			<div class="nk-feature-cont">
				<h3 class="nk-feature-title"><a href="{{ path('oc_platform_cat', {'name': 'Playstation'})  }}">PS4</a></h3>
			</div>
		</div>

		<table class="table table-hover table-dark">
			<tbody>
				<tr>
					<td>Mark <br />380 Points</td>
					<td>Otto <br />292 Points</td>
					<td>3mdo <br />123 Points</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="col-lg-4">
		<div class="nk-feature-1">
			<div class="nk-feature-icon">
				<img src="{{ path('oc_platform_link') }}../../images/assets/images/icon-gamepad-2.png" alt="">
			</div>
			<div class="nk-feature-cont">
				<h3 class="nk-feature-title"><a href="{{ path('oc_platform_cat', {'name': 'Xbox'})  }}">Xbox</a></h3>
			</div>
		</div>

		<table class="table table-hover table-dark">

			<tbody>
				<tr>
					<td>Mark <br />380 Points</td>
					<td>Otto <br />292 Points</td>
					<td>3mdo <br />123 Points</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<!-- END: Categories -->

<!-- START: Latest News -->
<div class="nk-gap-2"></div>
<h3 class="nk-decorated-h-2"><span>{{ index.title }}</span></h3>
<div class="nk-gap"></div>

{{ index.content }}

<!-- message flash -->
{% if app.session.flashBag.has('info') %}
<div class="alert alert-info">
	{% for msg in app.session.flashBag.get('info') %} {{ msg }} {% endfor %}
</div>
{% endif %}


<div class="nk-gap-2"></div>

<div class="row vertical-gap">
	<div class="col-lg-8">

		<!-- START: Latest Matches -->
		<h3 class="nk-decorated-h-2"><span><span class="text-main-1">Dernier</span> Matches</span>
		</h3>
		<div class="nk-gap"></div>
		<div class="row">
			<div class="col-md-4">
				<div class="nk-match-score bg-dark-3">
					Now Playing
				</div>
				<div class="nk-gap-2"></div>
				<div class="nk-widget-match p-0">
					<div class="nk-widget-match-teams">
						<div class="nk-widget-match-team-logo">
							<img src="{{ path('oc_platform_link') }}../../images/assets/images/team-1.jpg" alt="">
						</div>
						<div class="nk-widget-match-vs">VS</div>
						<div class="nk-widget-match-team-logo">
							<img src="{{ path('oc_platform_link') }}../../images/assets/images/team-2.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="nk-gap-2"></div>
				<p>As she said this she looked down at her hands and was surprised to see.</p>
				<a href="tournaments.html" class="nk-btn nk-btn-rounded nk-btn-color-main-1">Match Details</a>
			</div>
			<div class="col-md-8">
				<div class="responsive-embed responsive-embed-16x9">
					<iframe src="https://player.twitch.tv/?channel=dakotaz" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
				</div>
			</div>
		</div>
		<div class="nk-gap"></div>
		
		
		{% for defi in defis %}
			
			<div class="nk-match">
				<div class="nk-match-team-left">
					<a href="{{ path('oc_platform_user', {'user': defi.author}) }}">
						<span class="nk-match-team-logo">
								<img class="nk-match-team-logo-mini" src="{{ path('oc_platform_link') }}../../images/{{defi.author}}avatar.jpg" alt="">
						</span>
						<span class="nk-match-team-name">
								{{defi.author}}
							</span>
					</a>
				</div>
				<div class="nk-match-status">
					<a href="#">
						<span class="nk-match-status-vs">VS</span>
						<span class="nk-match-status-date">{{defi.title}}</span>
						<span class="nk-match-score bg-danger">
								{{defi.date}}
							</span>
					</a>
				</div>
				<div class="nk-match-team-right">
					<a href="{{ path('oc_platform_user', {'user': defi.userreceived}) }}">
						<span class="nk-match-team-name">
								{{defi.userreceived}}
							</span>
						<span class="nk-match-team-logo">
								<img class="nk-match-team-logo-mini" src="{{ path('oc_platform_link') }}../../images/{{defi.userreceived}}avatar.jpg" alt="">
						</span>
					</a>
				</div>
			</div>
		{% endfor %}
		
		
		
		


		<!-- END: Latest Matches -->

		<!-- START: Tabbed News  -->
		<div class="nk-gap-3"></div>
		<div id="map"></div><p>fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffgggggggggggg</p>


	</div>
	<div class="col-lg-4">
		<!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
		<aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky  margin-left">
			<div class="nk-widget">
				<div class="nk-widget-content">


					<form action="{{ path('oc_platform_home') }}/../searchinguser/" method="post" class="nk-form nk-form-style-1" novalidate="novalidate">
						<div class="input-group">
							<input type="text" name="find" class="form-control" placeholder="Rechercher un joueur">
							<button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
						</div>
					</form>
				</div>
			</div>



			<div class="nk-widget nk-widget-highlighted">
				<h4 class="nk-widget-title"><span><span class="text-main-1"></span>Chat</span>
				</h4>


<div class="container">
  <div class="chat-container">
    <div class="message">
		<span class="avatarchatsend">
			<img class="avatarchat" src="{{ path('oc_platform_link') }}../../images/adminavatar.jpg">	
		</span>
      <div class="datetime">{{ "now"|date('Y-m-d H:i:s')}}</div>
      <p>{% if app.user.username is defined %}
		  {{app.user.username}}
		  {% else %}
		  anonymus
		  {% endif %}
	  </p>
      <p class="messagesend">Votre message ici</p>
    </div>
    
  </div>
  <form id="chat" class="send-message-form">
    
    <input id="tchatch" type="text" placeholder="Your message">
    <button class="btn btn-primary"  type="submit">Send</button>
  </form>
</div>



			</div>

			<div class="nk-widget nk-widget-highlighted">
				<h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> Joueurs</span>
				</h4>
				<div class="nk-widget-content">

                    {% for user in users|sort %}
                       
                        <div class="nk-widget-post">
                            <a href="{{ path('oc_platform_user', {'user': user.username}) }}" class="nk-post-image">
                                <img src="{{ path('oc_platform_link') }}../../images/{{user.username}}avatar.jpg" alt="">
                            </a>
                            <h3 class="nk-post-title"><a href="{{ path('oc_platform_user', {'user': user.username}) }}">{{user.username}}</a></h3>
                            <div class="nk-post-date"><span class="fa fa-calendar"></span> Sep 5, 2018</div>
                        </div>
                    
                    {% endfor %}

				</div>

				<a href="{{ path('oc_platform_alluser') }}">Tous les joueurs</a>
			</div>




		</aside>
		<!-- END: Sidebar -->
		
		
	</div>
</div>


	<!-- google map avec geolocalisation 
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>

	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGmV-zl2q_1T01QCjt0C1X2ZYve-LEqsA&callback=initMap "></script>
-->
{% endblock %}
